{{> header }}


<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Aunthentication Tutorial</h1>
      <p>Handlebars.js es un motor de plantillas muy popular que es potente, fácil de utilizar y que cuenta con una gran
         comunidad. Se basa en el lenguaje de plantillas Mustache, pero lo mejora de distintas maneras. Con Handlebars, 
         podrás separar el diseño HTML del resto de tu Javascript, para así escribir código mucho más limpio.
        En este tutorial te vamos a enseñar todo lo que necesitas saber sobre Handlebars en pocos minutos.
         Puede parecer un poco abrumador al principio, pero esto es como montar en bicicleta, una vez le pillas el truco 
         ya no se te olvida nunca más. Y además es muy sencillo, no tendrás ningún problema para adaptarlo a tus 
         proyectos</p>
    </div>
  </div>
</main>

<footer class="container">
  <p>&copy; Handlebars 2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.4/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.4/dist/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script></body>
</html>
