{{> header }}

<br>
<br>
<br>
<br>
<div class="container">
    <h2>Profile</h2>
    <p>
         <h1>
                                 Felicidades, su registro ha sido exitoso!             
           
                                        </h1>
    </p>
</div>